path {
	stroke: black;
	fill: none;
}

.pump {
	fill: darkgray;
}

line {
	stroke: black;
	stroke-width: 5;
}

h1 {
	font-family: Tahoma;
}

p {
	margin-right: 400px;
	font-family: Tahoma;
	font-size: 24px;
}
